# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual env
venv/
.venv/

# Environment variables
.env

# Django specific
db.sqlite3
/media/

# VS Code / IDE
.vscode/
.idea/

# Byte-compiled / packages
*.egg-info/
